.wysi-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 0 1px #999;
}

.wysi-wrapper + textarea {
  display: none;
}

.wysi-toolbar {
  display: flex;
  flex-wrap: nowrap;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 5px;
  border-radius: 5px 5px 0 0;
  background-color: #eee;
  box-sizing: border-box;
}

.wysi-toolbar *,
.wysi-toolbar *:before,
.wysi-toolbar *:after {
  box-sizing: inherit;
}

.wysi-toolbar button {
  display: inline-flex;
  align-items: center;
  height: 30px;
  margin: 0 5px 0 0;
  padding: 0;
  border: 0;
  border-radius: 3px;
  color: #444;
  background-color: transparent;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  box-shadow: none;
  cursor: pointer;
}

.wysi-popover > button,
.wysi-toolbar > button {
  justify-content: center;
  width: 30px;
  font-size: 16px;
}

.wysi-toolbar button:hover,
.wysi-toolbar button:focus,
.wysi-listbox button[aria-expanded="true"] {
  background-color: #fff;
}

.wysi-toolbar button[aria-pressed="true"] {
  background-color: #dadada;
}

.wysi-toolbar button[aria-pressed="true"]:hover {
  background-color: #ccc;
}

.wysi-toolbar button * {
  pointer-events: none;
}

.wysi-toolbar svg {
  width: 1.5em;
  height: 1.5em;
  fill: currentColor;
}

.wysi-listbox {
  position: relative;
  line-height: 0;
}

.wysi-listbox > button {
  justify-content: space-between;
  width: 120px;
  padding: 0 10px;
}

.wysi-listbox > button:after {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  transform: rotateZ(45deg);
  border: solid currentColor;
  border-width: 0 1.5px 1.5px 0;
  box-sizing: border-box;
}

.wysi-listbox div {
  position: absolute;
  min-width: 160px;
  margin-top: -1px;
  padding: 5px;
  z-index: 1;
  border-radius: 0 0 3px 3px;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .15);
  overflow: hidden;
}

.wysi-listbox > button[aria-expanded="false"] + div {
  display: none;
}

.wysi-listbox div button {
  display: flex;
  width: 100%;
  height: 30px;
  padding: 0 10px;
  border-radius: 3px;
  text-align: left;
  cursor: pointer;
}

.wysi-listbox div button:focus {
  background-color: #eee;
}

.wysi-listbox button[data-option^="h"] {
  font-weight: bold;
}

.wysi-listbox button[data-option="h1"] {
  font-size: 20px;
}

.wysi-listbox button[data-option="h2"] {
  font-size: 18px;
}

.wysi-listbox button[data-option="h3"] {
  font-size: 16px;
}

.wysi-popover {
  position: relative;
  margin-right: 5px;
  font-size: .9em;
  line-height: 0;
}

.wysi-popover > button {
  margin: 0;
}

.wysi-popover > button[aria-expanded="false"] + div {
  display: none;
}

.wysi-popover div {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: absolute;
  width: 240px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  padding: 15px;
  border-radius: 5px;
  background-color: #fff;
  line-height: 1;
  box-shadow: 0 5px 25px rgba(0, 0, 0, .2);
}

.wysi-popover div:before {
  content: '';
  display: block;
  position: absolute;
  width: 10px;
  height: 6px;
  left: 50%;
  top: -6px;
  transform: translateX(-50%);
  border-style: solid;
  border-width: 0 5px 6px 5px;
  border-color: transparent;
  border-bottom-color: #fff;
}

.wysi-popover label {
  width: 100%;
  margin-bottom: 8px;
}

.wysi-popover span {
  display: block;
  margin-bottom: 2px;
}

.wysi-popover input {
  width: 100%;
  height: 26px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 13px;
}

.wysi-popover div button {
  height: 26px;
  margin: 5px 0 0 5px;
  padding: 0 15px;
  border: 1px solid #ccc;
  border-radius: 13px;
  font-size: .9em;
}

.wysi-popover div button:hover {
  background-color: #ddd;
}

.wysi-popover div button:last-of-type {
  border: 0;
  color: #fff;
  background-color: #777;
}

.wysi-popover div button:last-of-type:hover {
  background-color: #555;
}

.wysi-separator {
  width: 5px;
  height: 30px;
  margin-right: 10px;
  border-right: 1px solid #ccc;
}

.wysi-editor {
  min-height: 200px;
  padding: 1em;
  outline: none;
  overflow: auto;
}

.wysi-editor > :first-child {
  margin-top: 0;
}

.wysi-editor blockquote {
  margin-left: 0;
  margin-right: 0;
  padding-left: 1.5em;
  padding-right: 1.5em;
  border-left: 3px solid #ccc;
  font-style: italic;
}

.wysi-editor img:hover,
.wysi-editor img.wysi-selected {
  outline: 3px solid #999
}